/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body{
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

button, body, html{
  cursor: url(../assets/cursor.svg), auto;
}
.pointer{
  cursor: url(../assets/pointer.svg), auto;
}

.carousel-btn-left{
  position: absolute;
  z-index: 2;
  left: -20px;
  top: 150px;
  translate: -50px 20px;
}

.carousel-btn-right{
  position: absolute;
  z-index: 2;
  right: -70px;
  top: 150px;
  transform: rotateZ(180deg);
}